@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

/* === Navbar Links === */
.navbar-link {
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  color: black;
  font-weight: 250;
  font-size: 1rem;
}

.navbar-link:hover {
  background-color: #e6f4ea; /* Customize to match Mantine green[0] */
}

/* Responsive Visibility */
.hidden-mobile {
  display: flex;
}

@media (max-width: 640px) {
  .hidden-mobile {
    display: none !important;
  }
}

.hidden-desktop {
  display: none;
}

@media (max-width: 640px) {
  .hidden-desktop {
    display: block !important;
  }
}
